.section-exam {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
}

// Main 
.block-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main__nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.main__content {
    height: 100%;
    background-color: $light;
    overflow-y: scroll;
    padding: 60px 60px;
}

.main__footer {
    height: 80px;
    background-color: white;
}

// Sidebar 
.block-sidebar {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 2px solid $light;
}

.sidebar__info {
    min-height: 80px;
    height: fit-content;
    background-color: white;
    border-bottom: 2px solid $light;
}

.exam-name {
    font-weight: 600;
    font-size: 16px;
}

.sidebar__body {
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    padding: 32px 0;
}

.exam-section {
    margin-bottom: 32px;
}

.exam-section__name {
    font-weight: 600;
    margin-bottom: 8px;
}

.exam-section__status__wrapper {
    margin-bottom: 16px;
}

.exam-section__status {
    font-size: 12px;
    padding-left: 20px;
    position: relative;
    margin-right: 12px;
    &::before {
        content: '';
        height: 12px;
        width: 12px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        border-radius: 4px;
    }
    &.status--answered {
        &::before {
            background-color: $success;
        }
    }
    &.status--marked {
        &::before {
            background-color: $warning;
        }
    }
    &.status--unanswered {
        &::before {
            background-color: #eee;
        }
    }
}

.exam-section__items {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -8px;
}

.exam-section__items span {
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    width: 48px;
    margin: 8px;
    &.status--answered {
        border: 1px solid $success;
    }
    &.status--marked {
        border: 1px solid $warning;
    }
}

// Exam Content 
.exam__question__info {
    margin-bottom: 24px;
}

.exam__question__title {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 500;
}

.exam__answer__option {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    // padding: 16px;
    margin: 8px 0;
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        margin-bottom: 0;
        padding: 16px;
        width: 100%;
        padding-left: 48px;
    }
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        width: 20px;
        height: 20px;
    }
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
    }
}

.time-left {
    background-color: lighten($warning, 10%);
    padding: 8px 12px;
    border: 2px solid $warning;
    border-radius: 4px;
    span {
        font-weight: 600;
    }
}

// Responsive 
@media only screen and (max-width: 768px) {
    .btn-menu__wrapper {
        display: block;
    }
    .block-sidebar {
        position: absolute;
        width: 80%;
        right: -80%;
        z-index: 5;
        transition: all ease 300ms;
    }
    .block-sidebar.js-active {
        right: 0;
    }
}

#timeExpiredModal .modal-content {
    padding: 60px 0;
}

.modal-headline {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

#time-expire-icon {
    content: '';
    height: 80px;
    width: 80px;
    background-color: lighten($primary, 30%);
    border-radius: 16px;
    margin: auto;
    margin-bottom: 32px;
}