.card-headline {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.card-subtitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

p {
    margin-bottom: 32px;
}

p:last-of-type {
    margin-bottom: 8px;
}