<%- include("partials/header") %>
    <section style="height: 100vh; ">
        <div class="container container-wrap">
            <div class="row">
                <div class="col text-center">
                    <div>
                        <div class="brand" style="font-size: 40px;">ExamGradr</div>
                        <div style="font-size: 24px;"> is now running on closed beta.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>