<%- include("partials/header") %>
    <%- include("partials/navbar") %>
        <section class=" section--padding ">
            <div class="container container-wrap">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="card-title" style="margin-bottom:0;">
                                    Your answers have been submitted.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("partials/footer") %>